@tailwind base;
@tailwind components;

.btn {
  @apply font-bold py-2 px-4 rounded;
}

.btn:disabled {
  @apply cursor-auto;
}

.btn:focus {
  @apply outline-none shadow-outline;
}

.btn-primary {
  @apply text-white bg-indigo-500 border border-indigo-700;
}

.btn-primary:hover {
  @apply bg-indigo-700;
}

.btn-primary:disabled {
  @apply bg-gray-500 border-gray-700 border-none;
}

.btn-primary:disabled:hover {
  @apply bg-gray-500 border-none;
}

.btn-secondary {
  @apply bg-transparent text-gray-700 border border-gray-500;
}

.btn-secondary:hover {
  @apply border-indigo-700 text-indigo-700;
}

.btn-secondary:disabled {
  @apply text-gray-500;
}

.btn-secondary:disabled:hover {
  @apply text-gray-500 border-gray-500;
}

.sidebar {
  animation: fade-in-from-left 0.35s;
  flex: 225px 0 0;
  max-width: 255px;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.spinner {
  animation-name: spin;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

@keyframes fade-in-from-left {
  0% {
    opacity: 0.5;
    transform: translate3d(-3rem, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@tailwind utilities;
